.card-container,.card-container1,.card-container2,.card-container3,.card-container4{
    width: 230px;
    height: 450px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s; 
    animation: ease-in;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%    ;
    display: inline-block;
    background-color: white;
}

.card-container:hover,.card-container1:hover,.card-container2:hover,.card-container3:hover,.card-container4:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;

}
.card-container1:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;

}
.image-container img{
    margin-top: 4%;
     overflow: hidden; 
    height: 200px;
    
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}
h3,p{
    margin: 0;
    padding: 0;
}
.card-title{
    margin-bottom: 0.5rem;

}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}
.btn button:hover{
    background: rgba(27,156,252,0.1);
}
a{
    text-transform: uppercase;
    color: #1B9CFC;
    text-decoration: none;
    font-weight: bold;

}
.card-container{
    height: 505px;
    width: 219px;
}
.card-container1
{
    height: 505px;
    width: 219px;
}
.card-container2{
    height: 505px;
    width:219px;
}
.card-container3{
    height: 505px;
    width:219px;
}
.card-container4{
    height: 505px;
    width: 219px;
    background-color: rgb(176, 239, 255);
}
